---
import PageLayout from '@/layouts/PageLayout.astro';

const url = '/about';
---

<PageLayout url={url}>
  <div>test</div>
</PageLayout>

<style lang="scss">
  div {
    @include text(xl);
    color: blue;
    @include sp {
      color: red;
    }
  }
</style>
