---
const { size, class: addClasses = '', ...rest } = Astro.props

let widthClass = 'where:w-11/12 md:where:w-10/12'
let maxWidthClass = 'where:max-w-screen-xl'

switch (size) {
  case 'full':
    widthClass = 'w-full md:w-full'
    maxWidthClass = ''
    break
  case 'wide':
    widthClass = 'w-11/12 md:w-11/12'
    maxWidthClass = 'max-w-screen-2xl'
    break
  case 'narrow':
    widthClass = 'w-10/12 md:w-9/12'
    maxWidthClass = 'max-w-screen-lg'
    break
  default:
    break
}
---

<div class={`mx-auto ${widthClass} ${maxWidthClass} ${addClasses}`} {...rest}>
  <slot />
</div>
