---
export const prerender = false
import PageLayout from '@/layouts/PageLayout.astro'

const url = '/works'

// const res = await fetch('http://localhost:3001/api');
// const data = await res.json();
// console.log(data);

export const getStaticPaths = async ({ paginate }) => {
  const sites = [
    { name: 'サイト1', category: 'web' },
    { name: 'サイト2', category: 'web' },
    { name: 'サイト3', category: 'web' },
  ]
  return paginate(sites, { pageSize: 2 })
}
const { page } = Astro.props
---

<PageLayout {url}>
  <h2 class="md:3xl text-xl">一覧</h2>
  <ul class="grid grid-cols-2 gap-2 md:grid-cols-4 lg:grid-cols-5">
    {
      page.data.map(({ site }) => (
        <li>
          <a
            href="#"
            class="shadow-l flex flex-col items-center justify-center gap-2 bg-white p-4 transition-all hover:bg-white/60 hover:transition-all dark:bg-slate-800 hover:dark:bg-slate-800/60"
          >
            <h3>{site.name}</h3>
            <p>{site.category}</p>
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
