---
export const prerender = false
import PageLayout from '@/layouts/PageLayout.astro'

const url = '/works'

// const res = await fetch('http://localhost:3001/api');
// const data = await res.json();
// console.log(data);

const sites = [
  { name: 'サイト1', category: 'web' },
  { name: 'サイト2', category: 'web' },
  { name: 'サイト3', category: 'web' },
]
---

<PageLayout {url}>
  <h2>一覧</h2>
  <ul class="grid grid-cols-2 gap-2 md:grid-cols-4 lg:grid-cols-5">
    {
      sites.map((site) => (
        <li>
          <a
            href="#"
            class="flex flex-col items-center justify-center gap-2 bg-white p-4 shadow-xl hover:bg-slate-800/80 hover:transition-all dark:bg-slate-800"
          >
            <h3>{site.name}</h3>
            <p>{site.category}</p>
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
