---
import BaseForm from '@/components/molecules/BaseForm/BaseForm.astro'

const fields = [
  {
    label: '名前',
    value: '',
    id: 'name',
    type: 'text',
    placeholder: '山田太郎',
    autocomplete: 'name',
    icon: 'mdi:user',
  },
  {
    label: 'フリガナ',
    value: '',
    id: 'kana',
    type: 'text',
    placeholder: 'ヤマダタロウ',
  },
  {
    label: 'メールアドレス',
    value: '',
    id: 'email',
    type: 'email',
    placeholder: 'email@example.com',
    autocomplete: 'email',
    icon: 'mdi:email',
  },
  {
    label: '問い合わせ内容',
    value: '',
    id: 'contact',
    type: 'textarea',
    placeholder: 'お問い合わせ内容を入力してください。',
  },
]

const getUserData = `{
      name: 'John Doe',
      kana: 'カナ',
      email: 'john@example.com',
      check(data) {
        console.log(data)
      },
}`
---

<form
  hx-post={`${import.meta.env.PUBLIC_API_BASE_URL}/mail/send/`}
  hx-trigger="submit"
  hx-swap="none"
  x-data={getUserData}
>
  <input id="name" x-model="name" x-on:blur="check(name)" />
  <input id="kana" x-model="kana" x-on:blur="check(kana)" />
  <input id="email" x-model="email" x-on:blur="check(email)" />
  <button type="submit" class="btn btn-primary w-full">Submit</button>
</form>

<script is:inline data-astro-rerun type="module">
  import AutoKana from 'https://cdn.jsdelivr.net/npm/vanilla-autokana/+esm'
  AutoKana.bind('#name', '#kana', { katakana: true })
</script>
