---
import BaseForm from '@/components/molecules/BaseForm/BaseForm.astro'

const fields = [
  {
    label: '名前',
    value: '',
    id: 'name',
    type: 'text',
    placeholder: '山田太郎',
    autocomplete: 'name',
    icon: 'mdi:user',
  },
  {
    label: 'フリガナ',
    value: '',
    id: 'kana',
    type: 'text',
    placeholder: 'ヤマダタロウ',
  },
  {
    label: 'メールアドレス',
    value: '',
    id: 'email',
    type: 'email',
    placeholder: 'email@example.com',
    autocomplete: 'email',
    icon: 'mdi:email',
  },
  {
    label: '問い合わせ内容',
    value: '',
    id: 'contact',
    type: 'textarea',
    placeholder: 'お問い合わせ内容を入力してください。',
  },
]
---

<BaseForm hx-post={`${import.meta.env.PUBLIC_API_BASE_URL}/mail/send/`} hx-trigger="submit" hx-swap="none" {fields}>
  <button type="submit" class="btn btn-primary w-full">Submit</button>
</BaseForm>

<script>
  import * as AutoKana from 'vanilla-autokana'
  AutoKana.bind('#name', '#kana', { katakana: true })
</script>
