---
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

interface Props {
  name?: string
  initialCount?: number
}

const { name = 'test', initialCount = 0 } = Astro.props
---

<div class="counter" x-data={`{ count: ${initialCount}, name: '${name}', change() { this.name = 'change'; } }`}>
  <button x-on:click="count--">-</button>
  <pre x-text="count">{ initialCount }</pre>
  <button x-on:click="count++">+</button>

  <button @click="change">メッセージを変更</button>
  <p x-text="name">{name}</p>
</div>

<div class="counter-message">
  <slot />
</div>

<style>
  .counter {
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2em;
    place-items: center;
  }

  .counter-message {
    text-align: center;
  }
</style>
