$colors: ();

// Light Theme Colors
$theme-colors: (
  primary: #e0ca72,
  on-primary: #161616,
  primary-cont: #a3903f,
  on-primary-cont: #000,

  secondary: #d6caa5,
  on-secondary: #161616,
  secondary-cont: #9a916f,
  on-secondary-cont: #000,

  tertiary: #add4b7,
  on-tertiary: #161616,
  tertiary-cont: #75997f,
  on-tertiary-cont: #000,

  error: #ffbab1,
  on-error: #370001,
  error-cont: #ff5449,
  on-error-cont: #000000,

  surf-dim: #141313,
  surf: #141313,
  surf-light: #3a3939,
  surf-cont-lowest: #0e0e0e,
  surf-cont-low: #1c1b1b,
  surf-cont: #201f1f,
  surf-cont-high: #2b2a2a,
  surf-cont-highest: #353434,
  on-surf: #fefaf9,
  on-surf-var: #c8cbcc,

  inverse-surf: #e5e2e1,
  inverse-on-surf: #2b2a2a,
  inverse-primary: #554700,

  outline: #a9a292,
  outline-var: #888373,

  scrim: #000,
  shadow: #000,
);

// Dark Theme Colors
$dark-theme-colors: ();
