$breakpoints: (
  sp: 840,
  tb: 1200
);

@mixin sp {
  @media screen and (max-width: #{map-get($breakpoints, sp) - 0.02}px) {
    @content;
  }
}
@mixin tb {
  @media screen and (max-width: #{map-get($breakpoints, tb) - 0.02}px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: #{map-get($breakpoints, tb)}px), print {
    @content;
  }
}
