@use './media' as *;

// set News article text size
$defaultFontSize: (
  pc: 14px,
  sp: 13px,
);

// set News article heading sizes
$fontSizes: (
  xl: (
    pc: 26px,
    sp: 26px,
  ),
  l: (
    pc: 24px,
    sp: 24px,
  ),
  m: (
    pc: 20px,
    sp: 20px,
  ),
  s: (
    pc: 17px,
    sp: 17px,
  ),
  xs: (
    pc: 14px,
    sp: 14px,
  ),
);

@mixin text($fontSize: null, $fontWeight: 500) {
  // $fontSizeの指定が無い場合
  $fontSizePc: map-get($defaultFontSize, pc);
  $fontSizeSp: map-get($defaultFontSize, sp);

  // 指定が有る場合
  @if $fontSize != null {
    @if map-has-key($fontSizes, $fontSize) {
      // 記号で指定されていた場合
      $fontSizePc: map-get($fontSizes, $fontSize, pc);
      $fontSizeSp: map-get($fontSizes, $fontSize, sp);
    } @else {
      // 数値で指定されていた場合
      @if (map-has-key($fontSize, pc)) {
        $fontSizePc: map-get($fontSize, pc);
      }
      @if (map-has-key($fontSize, sp)) {
        $fontSizeSp: map-get($fontSize, sp);
      }
    }
  }

  font-size: $fontSizePc;
  font-weight: 1.5;
  @include sp {
    font-size: $fontSizeSp;
  }
}
