---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import Splide from '@/components/molecules/Splide.astro'
import type { PageType } from '@/types/PageType'

const p: PageType = {
  title: 'プロフィール',
  description: 'プロフィールページのdescriptionです',
  canonical: `${Astro.site}profile/`,
  type: 'article',
  structuredDatas: [
    {
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'ホーム',
          item: Astro.site,
        },
        {
          '@type': 'ListItem',
          position: 2,
          name: 'プロフィール',
        },
      ],
    },
  ],
}
---

<PageLayout {p}>
  <Container>
    <Inner size="full" class="overflow-hidden">
      <Splide />
    </Inner>

    <Inner>
      <p>test</p>
    </Inner>
  </Container>
</PageLayout>
