---
import PageLayout from '@/layouts/PageLayout.astro'
import Splide from '@/components/molecules/Splide/Splide.astro'
import { getPageDataByPermalink } from '@/constants/pageDatas'

const permalink = '/profile'
const pageData = getPageDataByPermalink(permalink)
---

<PageLayout {pageData}>
  <section>
    <div class="overflow-hidden py-10">
      <Splide />
    </div>
  </section>
</PageLayout>
