---
import FormStep from '@/components/molecules/FormStep/FormStep.astro'
import { utils } from '@/utils'

interface Props {
  fields: Theme.FormField[]
  steps?: string[]
}

const { fields, steps, ...rest } = Astro.props
---

<div
  x-data={utils.form.createXData(fields)}
  x-init="$watch('step', value => {
    if (value === 3) {
      confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 },
      });
    }
  })"
>
  {steps && <FormStep {steps} />}

  <form
    hx-swap="none"
    x-ref="form"
    x-on:htmx:after-request.camel="if(event.detail.successful) { $dispatch('success'); } else { $dispatch('failed'); }"
    {...rest}
  >
    <slot />
  </form>
</div>

<script>
  import confetti from 'canvas-confetti'
  window.confetti = confetti
</script>
