---
import FormStep from '@/components/molecules/FormStep/FormStep.astro'
import { utils } from '@/utils'

interface Props {
  fields: Theme.FormField[]
  steps?: string[]
}

const { fields, steps, ...rest } = Astro.props
---

<div x-data={utils.form.createXData(fields)}>
  {steps && <FormStep {steps} />}

  <form
    hx-swap="none"
    x-ref="form"
    x-on:htmx:after-request.camel="if(event.detail.successful){$dispatch('success')}"
    {...rest}
  >
    <slot />
  </form>
</div>
