---
export const prerender = false
import PageLayout from '@/layouts/PageLayout.astro'

const seo: Theme.SEO = {
  title: 'スキルセット',
  description: 'スキルセットページのdescriptionです',
  permalink: ['skill'],
  breadcrumb: { skill: 'スキルセット' },
}
---

<PageLayout {seo}>
  <button class="login">login</button>
  <button class="getUsers">getUsers</button>
  <button class="logout">logout</button>
  <div id="user-data" class="user-data"></div>
</PageLayout>

<script>
  const getUsersButton = document.querySelector('button.getUsers') as HTMLButtonElement

  getUsersButton.onclick = () => getUsers()

  window.addEventListener('load', getUsers)

  async function getUsers() {
    const res = await fetch(`${import.meta.env.PUBLIC_API}/users/me/`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
      credentials: 'include',
    })
    const data = await res.json()
    console.log(data)

    displayUserData(data)
  }

  function displayUserData(users: any) {
    const userDataDiv = document.getElementById('user-data')
    if (userDataDiv) {
      userDataDiv.innerHTML = '' // 以前のデータをクリア

      users.forEach((user: any) => {
        const userDiv = document.createElement('div')
        userDiv.className = 'user'

        const userName = document.createElement('h2')
        userName.textContent = user.name

        userDiv.appendChild(userName)

        userDataDiv.appendChild(userDiv)
      })
    }
  }
</script>
