---
export const prerender = false
import PageLayout from '@/layouts/PageLayout.astro'
import { getPageDataByPermalink } from '@/constants/pageDatas'

const permalink = '/skill'
const pageData = getPageDataByPermalink(permalink)
---

<PageLayout {pageData}>
  <button class="login">login</button>
</PageLayout>

<script>
  const buttons = document.querySelectorAll('button.login')

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      login('user1', 'password')
    })
  })

  async function login(name, password) {
    const res = await fetch('http://localhost:3001/api/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ name, password }),
      credentials: 'include',
    })

    if (!res.ok) {
      const errorData = await res.json()
      throw new Error(errorData.message)
    }

    let data = getUsers()
    return data
  }

  async function getUsers() {
    const res = await fetch('http://localhost:3001/api/user')
    const data = await res.json()
    console.log(data)
  }
</script>
