---
import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import type { PageType } from '@/types/PageType'

const p: PageType = {
  title: 'お問い合わせ',
  description: 'お問い合わせページのdescriptionです',
  canonical: `${Astro.site}contact/`,
  type: 'article',
  structuredDatas: [
    {
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'ホーム',
          item: Astro.site,
        },
        {
          '@type': 'ListItem',
          position: 2,
          name: 'お問い合わせ',
        },
      ],
    },
  ],
}
---

<PageLayout {p}>
  <Container>
    <Inner>
      <form action="/contact/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" class="name text-black" name="name" required /><br />

        <label for="email">Email:</label>
        <input type="email" class="email text-black" name="email" required /><br />

        <label for="message">Message:</label>
        <textarea class="message text-black" name="message" rows="4" required></textarea><br />

        <button type="submit" class="submit">Submit</button>
      </form>
    </Inner>
  </Container>
</PageLayout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const submitButton = document.querySelector('button.submit')

    if (submitButton) {
      submitButton.addEventListener('click', () => {
        const nameInput = document.querySelector('.name') as HTMLInputElement
        const emailInput = document.querySelector('.email') as HTMLInputElement
        const messageInput = document.querySelector('.message') as HTMLInputElement

        if (nameInput && emailInput && messageInput) {
          const formData = {
            name: nameInput.value,
            email: emailInput.value,
            message: messageInput.value,
          }

          createContact(formData)
        }
      })
    }
  })

  async function createContact(formData) {
    const res = await fetch('http://localhost:3001/api/contact', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })

    if (!res.ok) {
      const errorData = await res.json()
      throw new Error(errorData.message)
    }

    console.log(res)
  }
</script>
