---
import { getPageDatasExceptNoindex } from '@/constants/pageDatas'
import Button from '@/components/atoms/Button/Button.astro'
import type { PageData } from '@/constants/pageDatas'

import { Image } from 'astro:assets'
import logo from '@/assets/images/common/logo.svg'

const pages = getPageDatasExceptNoindex()
---

<header class="sticky top-0 z-50 px-4 md:px-8">
  <nav class="flex justify-between">
    <Button href="/">
      <Image src={logo} alt="logo" />
    </Button>

    <ul class="flex gap-4">
      {
        pages.map((page: PageData) => (
          <li>
            <Button href={page.permalink}>{page.title}</Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
