---
import Button from '@/components/atoms/Button/Button.astro'
import ButtonText from '@/components/molecules/ButtonText/ButtonText.astro'
import Container from '@/components/atoms/Container/Container.astro'
import ToggleMode from '@/components/molecules/ToggleMode/ToggleMode.astro'
import { getPageDatasAll, exceptHome, exceptNoindex } from '@/constants/pageDatas'
import type { PageData } from '@/constants/pageDatas'

import Logo from '@/assets/images/common/logo.svg?raw'

const pages = getPageDatasAll()
const pagesExceptNoindex = exceptNoindex(pages)
const pagesExceptNoindexAndHome = exceptHome(pagesExceptNoindex)
---

<header>
  <Container class="max-w-artboard">
    <nav class="flex justify-between" aria-label="Main navigation">
      <Button href="/">
        <Fragment set:html={Logo} />
        <svg width="200" height="35">
          <use href="#logo-T" class="fill-[#F38300]"></use>
          <use href="#logo-ECHNICAL." class="fill-[#111] dark:fill-[#fff]"></use>
          <use href="#logo-I" class="fill-[#172A88]"></use>
        </svg>
      </Button>

      <ul class="flex gap-4">
        {
          pagesExceptNoindexAndHome.map((page: PageData) => (
            <li>
              <ButtonText href={page.permalink}>{page.title}</ButtonText>
            </li>
          ))
        }
      </ul>
    </nav>

    <ToggleMode />
  </Container>
</header>
