---
import { getPageDatasExceptNoindex } from '@/constants/pageDatas'
import type { PageData } from '@/constants/pageDatas'

const pages = getPageDatasExceptNoindex()
---

<header class="sticky top-0 z-50">
  <nav>
    <ul class="flex gap-3">
      {
        pages.map((page: PageData) => (
          <li>
            <a href={page.url}>{page.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
