---
import { getPageDatasExceptNoindex } from '@/constants/pageDatas';
import type { PageData } from '@/constants/pageDatas';

const pages = getPageDatasExceptNoindex();
---

<header class="header">
  <nav>
    <ul class="header__menu">
      {
        pages.map((page: PageData) => (
          <li>
            <a href={page.url} class="header__menu-link">
              {page.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    &__menu {
      &-link {
        @include button();
      }
    }
  }
</style>
