---

---

<header class="header">
  <nav>
    <ul class="header__menu">
      <li><a href="#" class="header__menu-link">test</a></li>
      <li><a href="#" class="header__menu-link">test</a></li>
      <li><a href="#" class="header__menu-link">test</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  .header {
    &__menu {
      &-link {
        @include button();
      }
    }
  }
</style>
