---
export const prerender = false

import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'

const seo: Theme.SEO = {
  title: 'お客様情報',
  description: 'お客様情報ページのdescriptionです',
  permalink: ['user'],
  noindex: true,
  nofollow: true,
}
---

<PageLayout {seo}>
  <Container>
    <Inner>
      <div>完了</div>
    </Inner>
  </Container>
</PageLayout>

<script>
  import { api } from '@/api'

  // 初期化関数
  const init = () => {
    window.addEventListener('load', api.user.activateUser)
  }

  init()
</script>
