---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import Split from '@/components/atoms/Split.astro'
import ToggleTheme from '@/components/molecules/ToggleTheme.astro'

const seo: Theme.SEO = {
  title: 'スタイルガイド',
  description: 'スタイルガイドページのdescriptionです',
  permalink: ['styleguide'],
  breadcrumb: { styleguide: 'スタイルガイド' },
  noindex: true,
  nofollow: true,
  type: 'article',
}
---

<BaseLayout {seo}>
  <main>
    <Container class="bg-secondary" size="short">
      <Inner>
        <h1 class="theme-text-3xl font-bold text-secondary-content">{seo.title}</h1>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <div class="flex flex-col gap-4 md:gap-6">
          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Family</h3>
            <p>Noto Sans</p>
            <p>日本語: Noto Sans Jp</p>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Size</h3>
            <p class="theme-text-3xl">theme-text-3xl 最も大きい(PC: 5xl(48px/1), SP: 4xl(36px/40px))</p>
            <p class="theme-text-2xl">theme-text-2xl 2番目に大きい(PC: 4xl(36px/40px), SP: 3xl(30px/36px))</p>
            <p class="theme-text-xl">theme-text-xl とても大きい(PC: 3xl(30px/36px), SP: 2xl(24px/32px))</p>
            <p class="theme-text-lg">theme-text-lg 大きい(PC: 2xl(24px/32px), SP: xl(20px/28px))</p>
            <p class="theme-text-md">theme-text-md 少し大きい(PC: xl(20px/28px), SP: lg(18px/28px))</p>
            <p class="text-base">text-base 普通(PC & SP: base(16px/24px))</p>
            <p class="theme-text-sm">theme-text-sm 小さい(PC & SP: sm(14px/20px))</p>
            <p class="theme-text-xs">theme-text-xs とても小さい(PC & SP: xs(12px/16px))</p>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Weight</h3>
            <p class="font-bold">Bold 太い(700)</p>
            <p class="font-medium">Medium 少し太い(500)</p>
            <p class="font-normal">Normal 普通(400)</p>
            <p class="font-light">Light 細い(300)</p>
          </section>
        </div>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <Split class="mb-8">
          <h2 class="theme-text-2xl font-semibold">Colors</h2>
          <ToggleTheme />
        </Split>

        <Split columns={3}>
          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Theme</h3>
            <div class="flex flex-col gap-2 md:gap-4">
              <div class="bg-primary p-4 text-primary-content">Primary</div>
              <div class="bg-secondary p-4 text-secondary-content">Secondary</div>
              <div class="bg-accent p-4 text-accent-content">accent</div>
            </div>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Base</h3>
            <div class="flex flex-col gap-2 md:gap-4">
              <div class="text-base-200-content bg-base-200 p-4">Base</div>
              <div class="text-base-100-content bg-base-100 p-4">Base Light</div>
              <div class="text-base-300-content bg-base-300 p-4">Base Dark</div>
            </div>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Status</h3>
            <div class="flex flex-col gap-2 md:gap-4">
              <div class="bg-success p-4 text-success-content">Success</div>
              <div class="bg-error p-4 text-error-content">Error</div>
              <div class="bg-warning p-4 text-warning-content">Warning</div>
              <div class="bg-info p-4 text-info-content">Info</div>
            </div>
          </section>
        </Split>
      </Inner>
    </Container>
  </main>

  <Container>
    <Inner>
      <h2 class="theme-text-2xl mb-8 font-semibold">Spaces</h2>
      <h3 class="theme-text-xl mb-4 font-medium">Container</h3>
      <h4 class="theme-text-lg">default</h4>
    </Inner>
    <Inner size="full">
      <div class="h-16 bg-[#b8c480] md:h-20">PC: pt-20(80px), SP: pt-16(64px)</div>
      <div class="h-20 bg-[#88b2bd]"></div>
      <div class="h-16 bg-[#b8c480] md:h-20">PC: pb-20(80px), SP: pt-16(64px)</div>
    </Inner>

    <Inner>
      <h4 class="theme-text-lg">Tall</h4>
    </Inner>
    <Inner size="full">
      <div class="h-20 bg-[#b8c480] md:h-24">PC: pt-24(96px), SP: pt-20(80px)</div>
      <div class="h-20 bg-[#88b2bd]"></div>
      <div class="h-20 bg-[#b8c480] md:h-24">PC: pb-24(96px), SP: pt-20(80px)</div>
    </Inner>

    <Inner>
      <h4 class="theme-text-lg">Short</h4>
    </Inner>
    <Inner size="full">
      <div class="h-12 bg-[#b8c480] md:h-16">PC: pt-16(64px), SP: pt-12(48px)</div>
      <div class="h-20 bg-[#88b2bd]"></div>
      <div class="h-12 bg-[#b8c480] md:h-16">PC: pb-16(64px), SP: pt-12(48px)</div>
    </Inner>

    <Inner>
      <h3 class="theme-text-xl mb-4 font-medium">Inner</h3>
      <h4 class="theme-text-lg">default</h4>
    </Inner>
    <Inner size="full">
      <div class="flex h-20">
        <div class="grow bg-[#b08354]"></div>
        <div class="w-11/12 max-w-screen-xl bg-[#88b2bd] md:w-10/12">SP: w-11/12(91.66%), PC: w-10/12(83.33%) max-w-screen-xl(1280px)</div>
        <div class="grow bg-[#b08354]"></div>
      </div>
    </Inner>

    <Inner>
      <h4 class="theme-text-lg">Full</h4>
    </Inner>
    <Inner size="full">
      <div class="h-20 w-full bg-[#88b2bd]">w-full</div>
    </Inner>

    <Inner>
      <h4 class="theme-text-lg">Wide</h4>
    </Inner>
    <Inner size="full">
      <div class="flex h-20">
        <div class="grow bg-[#b08354]"></div>
        <div class="w-11/12 max-w-screen-2xl bg-[#88b2bd] md:w-11/12">SP: w-11/12(91.66%), PC: w-11/12(91.66%) max-w-screen-2xl(1536px)</div>
        <div class="grow bg-[#b08354]"></div>
      </div>
    </Inner>

    <Inner>
      <h4 class="theme-text-lg">Slim</h4>
    </Inner>
    <Inner size="full">
      <div class="mx-auto w-11/12 max-w-screen-xl md:w-10/12"></div>
      <div class="flex h-20">
        <div class="grow bg-[#b08354]"></div>
        <div class="w-10/12 max-w-screen-lg bg-[#88b2bd] md:w-9/12">SP: w-10/12(83.33%), PC: w-9/12(75%) max-w-screen-lg(1024px)</div>
        <div class="grow bg-[#b08354]"></div>
      </div>
    </Inner>

    <Inner>
      <h3 class="theme-text-xl mb-4 font-medium">Content</h3>
      <h4 class="theme-text-lg">default</h4>
    </Inner>
    <Inner>
      <div class="flex flex-col">
        <div class="h-20 bg-[#88b2bd]"></div>
        <div class="h-4 bg-[#b08354] md:h-6">PC: mb-6, SP: mb-4</div>
        <div class="h-20 bg-[#88b2bd]"></div>
      </div>
    </Inner>
  </Container>
</BaseLayout>
