---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import Split from '@/components/atoms/Split.astro'

const p: Theme.Page.Config = {
  title: 'スタイルガイド',
  description: 'スタイルガイドページのdescriptionです',
  permalink: 'styleguide/',
  noindex: true,
}
---

<BaseLayout {p}>
  <main>
    <section class="bg-secondary py-12">
      <Inner>
        <h1 class="theme-text-3xl font-bold text-secondary-content">{p.title}</h1>
      </Inner>
    </section>

    <Container>
      <Inner>
        <div class="flex flex-col gap-4 md:gap-6">
          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Family</h3>

            <p>default: Noto Sans</p>
            <p>default(日本語): Noto Sans Jp</p>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Size</h3>

            <Split>
              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="theme-text-lg">PC</h4>
                <p class="text-5xl">①5xl(48px/1)</p>
                <p class="text-4xl">②4xl(36px/40px)</p>
                <p class="text-3xl">③3xl(30px/36px)</p>
                <p class="text-2xl">④2xl(24px/32px)</p>
                <p class="text-xl">⑤xl(20px/28px)</p>
                <p class="text-base">base(16px/24px) > default</p>
                <p class="text-sm">⑥sm(14px/20px)</p>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="theme-text-lg">SP</h4>
                <p class="text-4xl">①4xl(36px/40px)</p>
                <p class="text-3xl">②3xl(30px/36px)</p>
                <p class="text-2xl">③2xl(24px/32px)</p>
                <p class="text-xl">④xl(20px/28px)</p>
                <p class="text-lg">⑤lg(18px/28px)</p>
                <p class="text-base">base(16px/24px) > default</p>
                <p class="text-sm">⑥sm(14px/20px)</p>
              </div>
            </Split>
          </section>
        </div>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <h2 class="theme-text-2xl mb-8 font-semibold">Colors</h2>

        <div class="flex flex-col gap-4 md:gap-6">
          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Theme</h3>

            <div class="flex gap-2 md:gap-4">
              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="theme-text-lg">Light</h4>
                <div class="bg-primary p-4 text-primary-content" data-theme="light">Primary</div>
                <div class="bg-secondary p-4 text-secondary-content" data-theme="light">Secondary</div>
                <div class="bg-accent p-4 text-accent-content" data-theme="light">accent</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="theme-text-lg">Dark</h4>
                <div class="bg-primary p-4 text-primary-content" data-theme="dark">Primary</div>
                <div class="bg-secondary p-4 text-secondary-content" data-theme="dark">Secondary</div>
                <div class="bg-accent p-4 text-accent-content" data-theme="dark">accent</div>
              </div>
            </div>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Base</h3>

            <Split columns={3}>
              <div class="flex flex-col gap-2 md:gap-4">
                <div class="text-base-200-content bg-base-200 p-4" data-theme="light">Base</div>
                <div class="text-base-100-content bg-base-100 p-4" data-theme="light">Base Light</div>
                <div class="text-base-300-content bg-base-300 p-4" data-theme="light">Base Dark</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <div class="text-base-200-content bg-base-200 p-4" data-theme="dark">Base</div>
                <div class="text-base-100-content bg-base-100 p-4" data-theme="dark">Base Light</div>
                <div class="text-base-300-content bg-base-300 p-4" data-theme="dark">Base Dark</div>
              </div>
            </Split>
          </section>

          <section>
            <h3 class="theme-text-xl mb-4 font-medium">Status</h3>

            <Split class="md:grid-cols-[20%_1fr]">
              <div class="flex flex-col gap-2 md:gap-4">
                <div class="bg-success p-4 text-success-content" data-theme="light">Success</div>
                <div class="bg-error p-4 text-error-content" data-theme="light">Error</div>
                <div class="bg-warning p-4 text-warning-content" data-theme="light">Warning</div>
                <div class="bg-info p-4 text-info-content" data-theme="light">Info</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <div class="bg-success p-4 text-success-content" data-theme="dark">Success</div>
                <div class="bg-error p-4 text-error-content" data-theme="dark">Error</div>
                <div class="bg-warning p-4 text-warning-content" data-theme="dark">Warning</div>
                <div class="bg-info p-4 text-info-content" data-theme="dark">Info</div>
              </div>
            </Split>
          </section>
        </div>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <h2 class="theme-text-2xl mb-8 font-semibold">Spaces</h2>
        <h3 class="theme-text-xl mb-4 font-medium">Container</h3>
      </Inner>
      <Inner size="full">
        <div class="h-16 bg-[#b8c480] md:h-20">PC: pt-20(80px), SP: pt-16(64px)</div>
        <div class="h-20 bg-[#88b2bd]"></div>
        <div class="h-16 bg-[#b8c480] md:h-20">PC: pb-20(80px), SP: pt-16(64px)</div>
      </Inner>

      <Inner>
        <h3 class="theme-text-xl mb-4 font-medium">Inner</h3>
        <h4 class="theme-text-lg">default</h4>
      </Inner>
      <Inner size="full">
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-11/12 max-w-screen-xl bg-[#88b2bd] md:w-10/12">SP: w-11/12(91.66%), PC: w-10/12(83.33%) max-w-screen-xl(1280px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h4 class="theme-text-lg">Full</h4>
      </Inner>
      <Inner size="full">
        <div class="h-20 w-full bg-[#88b2bd]">w-full</div>
      </Inner>

      <Inner>
        <h4 class="theme-text-lg">Wide</h4>
      </Inner>
      <Inner size="full">
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-11/12 max-w-screen-2xl bg-[#88b2bd] md:w-11/12">SP: w-11/12(91.66%), PC: w-11/12(91.66%) max-w-screen-2xl(1536px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h4 class="theme-text-lg">Narrow</h4>
      </Inner>
      <Inner size="full">
        <div class="mx-auto w-11/12 max-w-screen-xl md:w-10/12"></div>
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-10/12 max-w-screen-lg bg-[#88b2bd] md:w-9/12">SP: w-10/12(83.33%), PC: w-9/12(75%) max-w-screen-lg(1024px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h3 class="theme-text-xl mb-4 font-medium">Content</h3>
        <h4 class="theme-text-lg">default</h4>
      </Inner>
      <Inner>
        <div class="flex flex-col">
          <div class="h-20 bg-[#88b2bd]"></div>
          <div class="h-4 bg-[#b08354] md:h-6">PC: mb-6, SP: mb-4</div>
          <div class="h-20 bg-[#88b2bd]"></div>
        </div>
      </Inner>
    </Container>
  </main>
</BaseLayout>
