---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ButtonText from '@/components/molecules/ButtonText/ButtonText.astro'
import ToggleMode from '@/components/molecules/ToggleMode/ToggleMode.astro'
import { getPageDatasAll, exceptHome, exceptNoindex, getPageDataByPermalink } from '@/constants/pageDatas'
import type { PageData } from '@/constants/pageDatas'

const permalink = '/'
const pageData = getPageDataByPermalink(permalink)

const pages = getPageDatasAll()
const pagesExceptNoindex = exceptNoindex(pages)
const pagesExceptNoindexAndHome = exceptHome(pagesExceptNoindex)
---

<BaseLayout {pageData}>
  <main>
    <section>
      <div class="h-screen">
        <ToggleMode />
        <ul class="flex gap-4">
          {
            pagesExceptNoindexAndHome.map((page: PageData) => (
              <li>
                <ButtonText href={page.permalink}>{page.title}</ButtonText>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
