---
import BaseLayout from '../layouts/BaseLayout.astro';
import Arrow from '../components/Arrow.astro';

const url = '/';

// const res = await fetch('http://localhost:3001/api');
// const data = await res.json();
// console.log(data);

// const users = data;
---

<BaseLayout url={url}>
  <main>
    <Arrow bg="orange" color="blue" size="xl" />
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
