---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/atoms/Container/Container.astro'
import Swiper from '@/components/molecules/Swiper/Swiper.astro'

const permalink = '/'
---

<BaseLayout {permalink}>
  <section>
    <div class="h-screen">
      <div>fv</div>
    </div>
  </section>

  <section class="bg-secondary">
    <Container class="py-10">
      <div>コンテンツ</div>
    </Container>
  </section>

  <section>
    <div class="overflow-hidden py-10">
      <Swiper />
    </div>
  </section>
</BaseLayout>
