---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ButtonText from '@/components/molecules/ButtonText.astro'
import ToggleMode from '@/components/molecules/ToggleTheme.astro'
import { getPageDatasAll, exceptHome, exceptNoindex } from '@/constants/pageDatas'
import type { PageData } from '@/constants/pageDatas'
import Particle from '@/components/molecules/Particle.astro'

const pages = getPageDatasAll()
const pagesExceptNoindex = exceptNoindex(pages)
const pagesExceptNoindexAndHome = exceptHome(pagesExceptNoindex)

const seo: Theme.SEO = {
  title: '',
  description: 'ホームページのdescriptionです',
  permalink: [],
  type: 'website',
  schemaOrg: [
    {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'Example',
      url: Astro.site,
    },
    {
      '@context': 'https://schema.org',
      '@type': 'Organization',
      url: Astro.site,
      name: 'Example Corporation',
      description: 'The example corporation is well-known for producing high-quality widgets',
      email: '',
      telephone: '',
    },
  ],
}
---

<BaseLayout {seo}>
  <main>
    <ToggleMode />
    <ul class="flex flex-wrap gap-4">
      {
        pagesExceptNoindexAndHome.map((page: PageData) => (
          <li>
            <ButtonText href={page.permalink} class="flex flex-col text-sm before:text-2xl before:content-[attr(data-title-en)]" data-title-en={page.title.en}>
              {page.title.jp}
            </ButtonText>
          </li>
        ))
      }
    </ul>

    <Particle />
  </main>
</BaseLayout>
