---
import BaseLayout from "../layouts/BaseLayout.astro";

const url = "/";

// const res = await fetch('http://localhost:3001/api');
// const data = await res.json();
// console.log(data);

// const users = data;
---

<BaseLayout url={url}>
  <main>
    <div class="test">
      <div class="test__container --lowest">
        <p class="test__container-text">Test</p>
        <button class="test__container-button">button</button>
      </div>

      <div class="test__container --low">
        <p class="test__container-text">Test</p>
      </div>

      <div class="test__container">
        <p class="test__container-text">Test</p>
      </div>

      <div class="test__container --high">
        <p class="test__container-text">Test</p>
      </div>

      <div class="test__container --highest">
        <p class="test__container-text">Test</p>
      </div>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  .test {
    &__container {
      padding: 30px;
      margin: 20px;
      background: var(--color-surf-cont);
      color: var(--color-on-surf);
      width: fit-content;

      &.--lowest {
        background-color: var(--color-surf-cont-lowest);
      }

      &.--low {
        background-color: var(--color-surf-cont-low);
      }

      &.--high {
        background-color: var(--color-surf-cont-high);
      }

      &.--highest {
        background-color: var(--color-surf-cont-highest);
      }

      &-text {
        @include text(xl);
      }

      &-button {
        padding: 8px 12px;
        background-color: var(--color-primary);
        color: var(--color-on-primary);
      }
    }
  }
</style>
