---
export const prerender = false

import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import FormUserEdit from '@/components/organisms/FormUserEdit'

const seo: Theme.SEO = {
  title: 'お客様情報',
  description: 'お客様情報ページのdescriptionです',
  permalink: ['user'],
  noindex: true,
  nofollow: true,
}
const apiBaseUrl = import.meta.env.PUBLIC_API_BASE_URL
---

<PageLayout {seo}>
  <Container>
    <Inner>
      <FormUserEdit client:only="react" />

      <button id="btn-logout" type="button" class="btn btn-neutral">ログアウト</button>
    </Inner>
  </Container>
</PageLayout>

<script is:inline data-astro-rerun define:vars={{ apiBaseUrl }}>
  // ログアウト
  const logout = async () => {
    try {
      const res = await fetch(`${apiBaseUrl}/auth/logout/`, {
        method: 'DELETE',
        credentials: 'include',
      })

      const data = await res.json()
      if (!res.ok) {
        console.error('ログアウトに失敗しました：' + data.message)
      } else {
        console.log('ログアウトに成功しました：' + data.message)
        window.location.href = '/login/'
      }
    } catch (error) {
      console.error('通信に失敗しました', error)
    }
  }

  // 初期化関数
  const init = () => {
    const ButtonLogout = document.getElementById('btn-logout')
    ButtonLogout.onclick = () => logout()
  }

  // ページ読み込み時に初期化
  init()
</script>
