---
export const prerender = false

import PageLayout from '@/layouts/PageLayout.astro'
import Container from '@/components/atoms/Container.astro'
import Inner from '@/components/atoms/Inner.astro'
import { FormUserEdit } from '@/components/organisms/FormUserEdit'

const seo: Theme.SEO = {
  title: 'お客様情報',
  description: 'お客様情報ページのdescriptionです',
  permalink: ['user'],
  noindex: true,
  nofollow: true,
}
---

<PageLayout {seo}>
  <Container>
    <Inner>
      <FormUserEdit client:only="react" />

      <button class="btn btn-neutral" hx-delete={`${import.meta.env.PUBLIC_API_BASE_URL}/auth/logout/`} hx-trigger="click" hx-request='"credentials": true' hx-on="htmx:afterRequest: if (event.detail.successful) window.location.href = '/'" hx-swap="none">ログアウト</button>

      <button class="btn btn-error" hx-delete={`${import.meta.env.PUBLIC_API_BASE_URL}/users/me/`} hx-trigger="click" hx-request='"credentials": true' hx-ext="ignore:json-enc" hx-on="htmx:afterRequest: if (event.detail.successful) window.location.href = '/'" hx-swap="none">退会</button>
    </Inner>
  </Container>
</PageLayout>
