---
const { href, addClasses = '', ...rest } = Astro.props
const baseClasses =
  'flex min-h-12 min-w-12 items-center justify-center transition-all hover:text-primary cursor-pointer'
const classes = `${baseClasses} ${addClasses}`
---

{
  href ? (
    <a
      {href}
      class="flex min-h-12 min-w-12 cursor-pointer items-center justify-center transition-all hover:text-primary"
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button class={classes} {...rest}>
      <slot />
    </button>
  )
}
