---
import { tv } from 'tailwind-variants'

const { size, class: addClasses, ...rest } = Astro.props
const style = tv({
  base: `mx-auto w-11/12 md:w-10/12 max-w-screen-xl ${addClasses}`,
  variants: {
    size: {
      full: 'w-full md:w-full max-w-full',
      wide: 'w-11/12 md:w-11/12 max-w-screen-2xl',
      slim: 'w-10/12 md:w-9/12 max-w-screen-lg',
    },
  },
})
---

<div class={style({ size: size })} {...rest}>
  <slot />
</div>
