---
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props

const generateBreadcrumbs = (breadcrumb: Record<string, string>) => {
  return Object.entries(breadcrumb).reduce(
    (acc, [key, value]) => {
      acc.path += `${key}/`
      acc.items.push({
        name: value,
        item: `/${acc.path}`,
      })
      return acc
    },
    { path: '', items: [{ name: 'ホーム', item: '/' }] }
  ).items
}

const itemList = generateBreadcrumbs(seo.breadcrumb!)
const last = itemList.length - 1
---

<Inner size="full md:base" class="theme-text-sm breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    {
      itemList.map((link, index) => (
        <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
          <a
            href={link.item}
            itemscope
            itemtype="http://schema.org/Thing"
            itemprop="item"
            {...(index === last ? { 'aria-current': 'page' } : {})}
          >
            <span itemprop="name">{link.name}</span>
            <meta itemprop="position" content={`${index + 1}`} />
          </a>
        </li>
      ))
    }
  </ol>
</Inner>
