---
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props

let itemListElement: any
if (seo.breadcrumb) {
  itemListElement = [
    {
      name: 'ホーム',
      item: Astro.site,
    },
  ]
  let path = ''

  Object.keys(seo.breadcrumb).forEach((key) => {
    path += `${key}/`
    itemListElement.push({
      name: seo.breadcrumb![key],
      item: new URL(path, Astro.site),
    })
  })
}
---

<Inner size="full md:base" class="theme-text-sm breadcrumbs">
  <ol>
    {
      itemListElement.map((link: any, index: number) => {
        const isLastItem = index === itemListElement.length - 1
        if (isLastItem) {
          return <li area-current="page">{link.name}</li>
        } else {
          return (
            <li>
              <a href={link.item}>{link.name}</a>
            </li>
          )
        }
      })
    }
  </ol>
</Inner>
