---
import { tv } from 'tailwind-variants'
import Icon from '@/components/atoms/Icon.astro'

const { size, class: addClasses, ...rest } = Astro.props
const style = tv({
  base: `js-auth-button btn btn-ghost ${addClasses || ''}`,
})
---

<a class={style()} href="/login/" {...rest}>
  <Icon name="icon-user" />
</a>

<script>
  import { api } from '@/api'

  // 初期化関数
  const init = async () => {
    const authButtons = document.querySelectorAll('.js-auth-button') as NodeListOf<HTMLLinkElement>
    authButtons?.forEach((button: HTMLLinkElement) => {
      button.addEventListener('click', async () => {
        const isLoggedIn = await api.auth.isLogin()
        if (isLoggedIn) {
          // ログイン中の場合、/user/へリダイレクト
          window.location.href = '/user/'
        }
      })
    })
  }

  // ページ読み込み時に初期化
  init()
  document.addEventListener('astro:after-swap', init)
</script>
