---
import { tv } from 'tailwind-variants'
import Icon from '@/components/atoms/Icon.astro'

const { size, class: addClasses, ...rest } = Astro.props
const style = tv({
  base: `js-auth-button btn btn-ghost ${addClasses || ''}`,
})
---

<a class={style()} {...rest}>
  <Icon name="icon-user" />
</a>

<script>
  import { api } from '@/api'
  let href = '/user/'

  // hrefを更新
  const setHref = () => {
    const authButtons = document.querySelectorAll('.js-auth-button') as NodeListOf<HTMLLinkElement>
    authButtons?.forEach((button: HTMLLinkElement) => {
      button.href = href
    })
  }

  // 初期化関数
  const init = async () => {
    // APIエンドポイントにリクエストを送信してログイン状態を確認
    const isLoggedIn = await api.auth.isLogin()
    href = isLoggedIn ? '/user/' : '/login/'
    setHref()
  }

  // ページ読み込み時に初期化
  init()
  document.addEventListener('astro:after-swap', setHref)
</script>
