---
import Icon from '@/components/atoms/Icon.astro'

const apiBaseUrl = import.meta.env.PUBLIC_API_BASE_URL
---

<a class="js-auth-button btn btn-ghost">
  <Icon name="icon-user" />
</a>

<script is:inline define:vars={{ apiBaseUrl }}>
  // APIエンドポイントにリクエストを送信してログイン状態を確認する関数
  const checkLoginStatus = async () => {
    try {
      const response = await fetch(`${apiBaseUrl}/auth/login/`, {
        method: 'GET',
        headers: { 'Content-Type': 'application/json' },
        credentials: 'include',
      })

      return response.ok
    } catch (error) {
      console.error('Error checking login status:', error)
      return false
    }
  }

  // 初期化関数
  const init = async () => {
    const authButtons = document.querySelectorAll('.js-auth-button')
    if (authButtons.length > 0) {
      const isLoggedIn = await checkLoginStatus()
      const href = isLoggedIn ? '/user/' : '/login/'
      authButtons.forEach((button) => {
        button.href = href
      })
    }
  }

  // ページ読み込み時に初期化
  init()
</script>
