---

---

<div id="splash-screen" class="fixed -z-10 h-screen w-full bg-red-300 opacity-0">splash test</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const splashScreen = document.getElementById('splash-screen')

    if (splashScreen && isFirstVisit()) {
      showSplashScreen(splashScreen)
      sessionStorage.setItem('visited', 'true')
    }
  })

  function isFirstVisit() {
    return !sessionStorage.getItem('visited')
  }

  function showSplashScreen(splashScreen: HTMLElement) {
    splashScreen.classList.remove('opacity-0')
    splashScreen.classList.remove('-z-10')
    splashScreen.classList.add('opacity-1')
    setTimeout(() => {
      splashScreen.classList.add('opacity-0')
      splashScreen.classList.add('-z-10')
    }, 1000)
  }
</script>
