---
const { steps } = Astro.props
---

<div class="mb-4 text-center">
  <ol class="steps w-full">
    {
      steps.map((name: string, index: number) => (
        <li class="step" x-bind:class={`{'step-secondary': ${index + 1} <= step}`}>
          {name}
        </li>
      ))
    }
  </ol>
</div>
