---
import Button from '@/components/atoms/Button.astro'
import ButtonText from '@/components/molecules/ButtonText.astro'
import Container from '@/components/atoms/Container.astro'
import ToggleMode from '@/components/molecules/ToggleTheme.astro'
import { getPageDatasAll, exceptHome, exceptNoindex } from '@/constants/pageDatas'
import type { PageData } from '@/constants/pageDatas'
import Inner from '@/components/atoms/Inner.astro'
import Split from '@/components/atoms/Split.astro'

import Logo from '@/assets/images/common/logo.svg?raw'

const pages = getPageDatasAll()
const pagesExceptNoindex = exceptNoindex(pages)
const pagesExceptNoindexAndHome = exceptHome(pagesExceptNoindex)
---

<header>
  <Container>
    <Inner size="wide">
      <Split>
        <nav class="flex flex-col items-center justify-between md:flex-row" aria-label="Main navigation">
          <Button href="/">
            <Fragment set:html={Logo} />
            <svg width="140" height="60">
              <use href="#logo-text" class="dark:fill-white fill-black"></use>
              <use href="#logo-firefly"></use>
            </svg>
          </Button>

          <ul class="flex flex-wrap gap-12">
            {
              pagesExceptNoindexAndHome.map((page: PageData) => (
                <li>
                  <ButtonText href={page.permalink} class="flex flex-col text-sm before:text-2xl before:content-[attr(data-title-en)]" data-title-en={page.title.en}>
                    {page.title.jp}
                  </ButtonText>
                </li>
              ))
            }
          </ul>
        </nav>

        <ToggleMode />
      </Split>
    </Inner>
  </Container>
</header>
