---
import ButtonLoginOrProfile from '@/components/molecules/ButtonLoginOrProfile.astro'
import Container from '@/components/atoms/Container.astro'
import Icon from '@/components/atoms/Icon.astro'
import Inner from '@/components/atoms/Inner.astro'
import Logo from '@/assets/images/common/logo.svg?raw'
import ThemeController from '@/components/molecules/ThemeController.astro'

type Menue = {
  title: string
  icon: string
  permalink: string
}

const menues: any = [
  {
    title: '自己紹介',
    icon: 'icon-identification',
    permalink: '/profile/',
  },
  {
    title: 'スキルセット',
    icon: 'icon-code-bracket',
    permalink: '/skill/',
  },
  {
    title: '制作事例',
    icon: 'icon-window',
    permalink: '/works/',
  },
  {
    title: 'お問い合わせ',
    icon: 'icon-envelope',
    permalink: '/contact/',
  },
]
---

<header>
  <Container class="py-4 md:py-4">
    <Inner size="wide">
      <nav class="navbar">
        <div class="flex-1">
          <a href="/">
            <Fragment set:html={Logo} />
            <svg width="140" height="60">
              <use href="#logo-text" class="fill-black dark:fill-white"></use>
              <use href="#logo-firefly"></use>
            </svg>
          </a>
        </div>

        <div class="hidden flex-none md:inline-flex">
          <ul class="menu menu-horizontal">
            {
              menues.map((menu: any) => (
                <li>
                  <a href={menu.permalink} class="btn btn-ghost">
                    <Icon name={menu.icon} class="hidden lg:block" />
                    {menu.title}
                  </a>
                </li>
              ))
            }
          </ul>
          <ButtonLoginOrProfile />
          <ThemeController />
        </div>

        <div class="flex-none md:hidden">
          <button class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </nav>
    </Inner>
  </Container>
</header>
