---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import '@fontsource-variable/noto-sans'
import '@fontsource-variable/noto-sans-jp'
import '@/styles/global.scss'
import { getSiteDataAll } from '@/constants/siteDatas'

const { pageData } = Astro.props
const siteData = getSiteDataAll()
---

<!doctype html>
<html lang="jp" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{siteData.name}{pageData.title != 'Home' && ' - ' + pageData.title}</title>
    <ViewTransitions />
    <meta name="description" content={pageData.description} />
    <meta name="keyword" content={pageData.keyword} />

    {pageData.noindex && <meta name="robots" content="noindex" />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="manipulation min-h-full bg-base-200 font-body text-base tracking-normal antialiased">
    <slot />
  </body>
</html>
