---
import { ViewTransitions } from 'astro:transitions'
import { SEO } from 'astro-seo'
import '@fontsource-variable/noto-sans'
import '@fontsource-variable/noto-sans-jp'
import '@/styles/global.scss'
import { getSiteDataAll } from '@/constants/siteDatas'
import SplashScreen from '@/components/molecules/SplashScreen.astro'
import type { PageType, StructuredDataType } from '@/types/PageType'

interface Props {
  p: PageType
}
const { p } = Astro.props

const siteData = getSiteDataAll()
---

<!doctype html>
<html lang="jp" class="scroll-smooth">
  <head prefix="og: https://ogp.me/ns#">
    <SEO
      title={p.title}
      titleTemplate={'%s | ' + siteData.name}
      titleDefault={siteData.name}
      description={p.description}
      noindex={p.noindex ?? false}
      nofollow={p.noindex ?? false}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: p.title,
          type: p.type,
          image: Astro.site + 'og_image.png',
        },
        optional: {
          description: p.description,
          locale: 'ja_JP',
          siteName: siteData.name,
        },
      }}
      extend={{
        link: [
          { rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' },
          { rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' },
          { rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' },
          { rel: 'manifest', href: '/manifest.json' },
        ],
        meta: [{ name: 'viewport', content: 'width=device-width' }],
      }}
    />
    {p.structuredDatas && p.structuredDatas.map((structuredData: StructuredDataType) => <script is:inline type="application/ld+json" set:html={JSON.stringify(structuredData)} />)}
    <ViewTransitions />
  </head>

  <body class="manipulation grid min-h-dvh grid-cols-1 grid-rows-[auto,1fr,auto] bg-base-200 font-body text-base tracking-normal antialiased">
    <SplashScreen />
    <slot />
  </body>
</html>
