---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/noto-sans'
import '@fontsource-variable/noto-sans-jp'
import '@/styles/global.scss'
import SEOMetaTags from '@/components/molecules/SEOMetaTags/SEOMetaTags.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props
---

<!doctype html>
<html lang="ja-JP" prefix=`${seo.ogtype}: https://ogp.me/ns/${seo.ogtype}#`>
  <head>
    <SEOMetaTags {seo} />
    <ViewTransitions />
    <script is:inline src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
  </head>
  <body
    class="manipulation grid min-h-dvh grid-cols-1 grid-rows-[auto,1fr,auto] break-words bg-base-200 font-body text-base tracking-normal antialiased"
    itemtype=`https://schema.org/${seo.itemtype}`
    itemscope
  >
    <slot />
    <script>
      document.addEventListener('astro:page-load', () => {
        const labelButtons = document.querySelectorAll('label[role="button"]') as NodeListOf<HTMLLabelElement>
        labelButtons.forEach((button: HTMLLabelElement) => {
          button.addEventListener('keydown', (event) => {
            if (event.key === 'Enter' || event.key === ' ') {
              event.preventDefault()
              button.click()
            }
          })
        })
      })
    </script>
  </body>
</html>
