---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/noto-sans'
import '@fontsource-variable/noto-sans-jp'
import '@/styles/global.scss'
import SplashScreen from '@/components/molecules/SplashScreen.astro'
import SEOMetaTags from '@/components/molecules/SEOMetaTags.astro'
import Icons from '@/assets/images/common/icons.svg?raw'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props
---

<!doctype html>
<html lang="jp" class="scroll-smooth">
  <head prefix="og: https://ogp.me/ns#">
    <SEOMetaTags {seo} />
    <ViewTransitions />
  </head>
  <body class="manipulation grid min-h-dvh grid-cols-1 grid-rows-[auto,1fr,auto] break-words bg-base-200 font-body text-base tracking-normal antialiased">
    <Fragment set:html={Icons} />
    <SplashScreen />
    <slot />
    <script>
      const init = () => {
        const labelButtons = document.querySelectorAll('label[role="button"]') as NodeListOf<HTMLLabelElement>
        labelButtons.forEach((button: HTMLLabelElement) => {
          button.addEventListener('keydown', (event) => {
            if (event.key === 'Enter' || event.key === ' ') {
              event.preventDefault()
              button.click()
            }
          })
        })
      }

      init()
      document.addEventListener('astro:after-swap', init)
    </script>
  </body>
</html>
