---
import Header from '@/components/common/Header/Header.astro';
import Footer from '@/components/common/Footer/Footer.astro';
import { getPageDataByUrl } from '@/constants/pageDatas';
import { getSiteDatasAll } from '@/constants/siteDatas';

const { url } = Astro.props;
const page = getPageDataByUrl(url);
const site = getSiteDatasAll();
---

<!doctype html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{site.name}{page.title != 'Home' && ' - ' + page.title}</title>
		<meta name="description" content={page.description} />
		<meta name="keyword" content={page.keyword} />

		{page.noindex && <meta name="robots" content="noindex" />}
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global lang="scss">
	@import '@/styles/index.scss';
</style>
