---
import { getSiteDataAll } from '@/constants/siteDatas'

const { pageData } = Astro.props
const siteData = getSiteDataAll()
---

<!doctype html>
<html lang="jp" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{siteData.name}{pageData.title != 'Home' && ' - ' + pageData.title}</title>
    <meta name="description" content={pageData.description} />
    <meta name="keyword" content={pageData.keyword} />

    {pageData.noindex && <meta name="robots" content="noindex" />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </head>

  <body class="flex min-h-screen flex-col bg-white font-body text-black dark:bg-slate-900 dark:text-white">
    <slot />
  </body>
</html>
