---
import BaseLayout from './BaseLayout.astro';
import { getPageDataByUrl } from '@/constants/pageDatas';

const { url } = Astro.props;
const page = getPageDataByUrl(url);
---

<BaseLayout url={url}>
  <main>
    <h1>{page.title}</h1>
    <slot />
  </main>
</BaseLayout>
