---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/atoms/Container/Container.astro'

const { pageData } = Astro.props
---

<BaseLayout {pageData}>
  <Container class="py-10 md:py-20">
    <h1 class="flex flex-col text-base before:text-4xl before:content-[attr(data-title-en)] md:text-xl md:before:text-6xl" data-title-en={pageData.title.en}>{pageData.title.jp}</h1>
  </Container>
  <slot />
</BaseLayout>
