---
import BaseLayout from './BaseLayout.astro'
import { getPageDataByUrl } from '@/constants/pageDatas'

const { url } = Astro.props
const page = getPageDataByUrl(url)
---

<BaseLayout {url}>
  <h1 class="text-2xl md:text-4xl">{page.title}</h1>
  <slot />
</BaseLayout>
