---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb.astro'
import Container from '@/components/atoms/Container.astro'
import Footer from '@/components/organisms/Footer.astro'
import Header from '@/components/organisms/Header/Header.astro'
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props
---

<BaseLayout {seo}>
  <Header />
  <main>
    {seo.breadcrumb && <Breadcrumb {seo} />}

    <Container size="short">
      <Inner>
        <h1 class="theme-text-xl font-bold mb-8" itemprop="name">{seo.title}</h1>
        <p set:html={seo.description} itemprop="description" />
      </Inner>
    </Container>

    <slot />
  </main>
  <Footer />
</BaseLayout>
