---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Breadcrumb from '@/components/molecules/Breadcrumb.astro'
import Container from '@/components/atoms/Container.astro'
import Footer from '@/components/organisms/Footer.astro'
import Header from '@/components/organisms/Header.astro'
import Inner from '@/components/atoms/Inner.astro'

interface Props {
  seo: Theme.SEO
}
const { seo } = Astro.props
---

<BaseLayout {seo}>
  <Header />
  <main>
    <Container size="tall">
      <Inner>
        <h1 class="theme-text-xl font-bold">{seo.title}</h1>
      </Inner>
    </Container>

    {
      seo.breadcrumb && (
        <Inner>
          <Breadcrumb {seo} />
        </Inner>
      )
    }
    <slot />
  </main>
  <Footer />
</BaseLayout>
