---
const { id, label, error } = Astro.props
---

<div class="form-control w-full">
  <label for={id} class="label label-text">
    {label}
  </label>
  <div class="relative">
    <slot />
  </div>

  <span x-show={error} class="label label-text-alt text-error" aria-live="polite" role="alert"> エラーメッセージ </span>
</div>
