---
const { field, error } = Astro.props
---

<div class="form-control w-full">
  <label for={field.id} class="label label-text">
    {field.label}
  </label>
  <div class="relative">
    <slot />
  </div>

  {
    error?.message && (
      <span class="label label-text-alt text-error" aria-live="polite" role="alert">
        {error.message}
      </span>
    )
  }
</div>
