---
const { id, label } = Astro.props
---

<div class="form-control w-full">
  <label for={id} class="label label-text">
    {label}
  </label>
  <div class="relative">
    <slot />
  </div>

  <span
    x-show={`errors.${id}`}
    x-text={`errors.${id}`}
    class="label label-text-alt text-error"
    aria-live="polite"
    role="alert"></span>
</div>
