---
export const prerender = false
import BaseLayout from '@/layouts/BaseLayout.astro'

import { getPageDataByPermalink } from '@/constants/pageDatas'
import ToggleMode from '@/components/molecules/ToggleMode/ToggleMode.astro'

const permalink = '/test'
const pageData = getPageDataByPermalink(permalink)
---

<BaseLayout {pageData}>
  <ToggleMode />
  <article class="container mx-auto">
    <h1 class="mb-8 text-5xl font-bold md:text-6xl">Style Guide</h1>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">フォントファミリー</h2>
      <p>プライマリフォント: Noto Sans</p>
      <p>セカンダリフォント: Noto Sans Jp</p>
    </section>

    <h2 class="mb-4 text-3xl font-semibold md:text-4xl">Fonts</h2>
    <section class="mb-12">
      <h3 class="text-3xl md:text-4xl">Size</h3>
      <div class="flex flex-grow gap-2 md:gap-4">
        <div class="flex flex-grow flex-col gap-2 md:gap-4">
          <h4 class="text-lg md:text-xl">PC</h4>
          <p class="text-6xl">①6xl(60px/1)</p>
          <p class="text-4xl">②4xl(36px/40px)</p>
          <p class="text-2xl">③2xl(20px/28px)</p>
          <p class="text-xl">④xl(18px/26px)</p>
          <p class="text-lg">⑤lg(16px/24px)</p>
          <p class="text-base">base(14px/22px) ＞ default</p>
          <p class="text-sm">⑥sm(12px/20px)</p>
          <p class="text-xs">⑦xs(10px/18px)</p>
        </div>
        <div class="flex flex-grow flex-col gap-2 md:gap-4">
          <h4 class="text-lg md:text-xl">SP</h4>
          <p class="text-5xl">①5xl(48px/1)</p>
          <p class="text-3xl">②3xl(30px/36px)</p>
          <p class="text-xl">③xl(18px/26px)</p>
          <p class="text-lg">④lg(16px/24px)</p>
          <p class="text-base">⑤base(14px/22px)</p>
          <p class="text-sm">sm(12px/20px) ＞ default</p>
          <p class="text-xs">⑥xs(10px/18px)</p>
          <p class="text-xs">⑦xs(10px/18px)</p>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">プライマリカラー</h2>
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-primary p-4 text-primary-content" data-theme="light">Primary</div>
        <div class="bg-primary p-4 text-primary-content" data-theme="dark">Primary Dark</div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">セカンダリカラー</h2>
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-secondary p-4 text-secondary-content" data-theme="light">Secondary</div>
        <div class="bg-secondary p-4 text-secondary-content" data-theme="dark">Secondary Dark</div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">アクセントカラー</h2>
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-accent p-4 text-accent-content" data-theme="light">accent</div>
        <div class="bg-accent p-4 text-accent-content" data-theme="dark">accent Dark</div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">ステータスカラー</h2>
      <div class="grid grid-cols-4 gap-4">
        <div class="bg-success p-4 text-white">Success</div>
        <div class="bg-error p-4 text-white">Error</div>
        <div class="bg-warning p-4 text-white">Warning</div>
        <div class="bg-info p-4 text-white">Info</div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="mb-4 text-3xl font-semibold md:text-4xl">背景カラー</h2>
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-surface p-4 text-black">Surface</div>
        <div class="bg-background p-4 text-black">Background</div>
      </div>
    </section>
  </article>
</BaseLayout>
