---
export const prerender = false
import BaseLayout from '@/layouts/BaseLayout.astro'

import { getPageDataByPermalink } from '@/constants/pageDatas'
import ToggleMode from '@/components/molecules/ToggleMode/ToggleMode.astro'

import Inner from '@/components/atoms/Inner/Inner.astro'
import Container from '@/components/atoms/Container/Container.astro'

const permalink = '/test'
const pageData = getPageDataByPermalink(permalink)
---

<BaseLayout {pageData}>
  <main>
    <section class="bg-secondary py-12">
      <Inner>
        <h1 class="text-5xl font-bold text-secondary-content md:text-6xl">Style Guide</h1>
      </Inner>
    </section>

    <Container>
      <Inner>
        <h2 class="mb-8 text-3xl font-semibold md:text-4xl">Fonts</h2>

        <div class="flex flex-col gap-4 md:gap-6">
          <section>
            <h3 class="mb-4 text-xl font-medium md:text-2xl">Family</h3>

            <p>default: Noto Sans</p>
            <p>default(日本語): Noto Sans Jp</p>
          </section>

          <section>
            <h3 class="mb-4 text-xl font-medium md:text-2xl">Size</h3>

            <div class="flex flex-col gap-6 md:flex-row">
              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="text-lg md:text-xl">PC</h4>
                <p class="text-6xl">①6xl(60px/1)</p>
                <p class="text-5xl">②5xl(48px/1)</p>
                <p class="text-3xl">③3xl(30px/36px)</p>
                <p class="text-2xl">④2xl(24px/32px)</p>
                <p class="text-xl">⑤xl(20px/28px)</p>
                <p class="text-base">base(16px/24px) ＞ default</p>
                <p class="text-sm">⑥sm(14px/20px)</p>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="text-lg md:text-xl">SP</h4>
                <p class="text-4xl">①4xl(36px/40px)</p>
                <p class="text-3xl">②3xl(30px/36px)</p>
                <p class="text-2xl">③2xl(24px/32px)</p>
                <p class="text-xl">④xl(20px/28px)</p>
                <p class="text-lg">⑤lg(18px/28px)</p>
                <p class="text-base">base(16px/24px) ＞ default</p>
                <p class="text-sm">⑥sm(14px/20px)</p>
              </div>
            </div>
          </section>
        </div>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <h2 class="mb-8 text-3xl font-semibold md:text-4xl">Colors</h2>

        <div class="flex flex-col gap-4 md:gap-6">
          <section>
            <h3 class="mb-4 text-xl font-medium md:text-2xl">Theme</h3>

            <div class="flex gap-2 md:gap-4">
              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="text-lg md:text-xl">Light</h4>
                <div class="w-60 bg-primary p-4 text-primary-content" data-theme="light">Primary</div>
                <div class="w-60 bg-secondary p-4 text-secondary-content" data-theme="light">Secondary</div>
                <div class="w-60 bg-accent p-4 text-accent-content" data-theme="light">accent</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <h4 class="text-lg md:text-xl">Dark</h4>
                <div class="w-60 bg-primary p-4 text-primary-content" data-theme="dark">Primary</div>
                <div class="w-60 bg-secondary p-4 text-secondary-content" data-theme="dark">Secondary</div>
                <div class="w-60 bg-accent p-4 text-accent-content" data-theme="dark">accent</div>
              </div>
            </div>
          </section>

          <section>
            <h3 class="mb-4 text-xl font-medium md:text-2xl">Base</h3>

            <div class="flex gap-2 md:gap-4">
              <div class="flex flex-col gap-2 md:gap-4">
                <div class="text-base-200-content w-60 bg-base-200 p-4" data-theme="light">Base</div>
                <div class="text-base-100-content w-60 bg-base-100 p-4" data-theme="light">Base Light</div>
                <div class="text-base-300-content w-60 bg-base-300 p-4" data-theme="light">Base Dark</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <div class="text-base-200-content w-60 bg-base-200 p-4" data-theme="dark">Base</div>
                <div class="text-base-100-content w-60 bg-base-100 p-4" data-theme="dark">Base Light</div>
                <div class="text-base-300-content w-60 bg-base-300 p-4" data-theme="dark">Base Dark</div>
              </div>
            </div>
          </section>

          <section>
            <h3 class="mb-4 text-xl font-medium md:text-2xl">Status</h3>

            <div class="flex gap-2 md:gap-4">
              <div class="flex flex-col gap-2 md:gap-4">
                <div class="w-60 bg-success p-4 text-success-content" data-theme="light">Success</div>
                <div class="w-60 bg-error p-4 text-error-content" data-theme="light">Error</div>
                <div class="w-60 bg-warning p-4 text-warning-content" data-theme="light">Warning</div>
                <div class="w-60 bg-info p-4 text-info-content" data-theme="light">Info</div>
              </div>

              <div class="flex flex-col gap-2 md:gap-4">
                <div class="w-60 bg-success p-4 text-success-content" data-theme="dark">Success</div>
                <div class="w-60 bg-error p-4 text-error-content" data-theme="dark">Error</div>
                <div class="w-60 bg-warning p-4 text-warning-content" data-theme="dark">Warning</div>
                <div class="w-60 bg-info p-4 text-info-content" data-theme="dark">Info</div>
              </div>
            </div>
          </section>
        </div>
      </Inner>
    </Container>

    <Container>
      <Inner>
        <h2 class="mb-8 text-3xl font-semibold md:text-4xl">Spaces</h2>
        <h3 class="mb-4 text-xl font-medium md:text-2xl">Container</h3>
      </Inner>
      <Inner size="full">
        <div class="h-16 bg-[#b8c480] md:h-20">PC: pt-20(80px), SP: pt-16(64px)</div>
        <div class="h-20 bg-[#88b2bd]"></div>
        <div class="h-16 bg-[#b8c480] md:h-20">PC: pb-20(80px), SP: pt-16(64px)</div>
      </Inner>

      <Inner>
        <h3 class="mb-4 text-xl font-medium md:text-2xl">Inner</h3>
        <h4 class="text-lg md:text-xl">default</h4>
      </Inner>
      <Inner size="full">
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-11/12 max-w-screen-xl bg-[#88b2bd] md:w-10/12">SP: w-11/12(91.66%), PC: w-10/12(83.33%) max-w-screen-xl(1280px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h4 class="text-lg md:text-xl">Full</h4>
      </Inner>
      <Inner size="full">
        <div class="h-20 w-full bg-[#88b2bd]">w-full</div>
      </Inner>

      <Inner>
        <h4 class="text-lg md:text-xl">Wide</h4>
      </Inner>
      <Inner size="full">
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-11/12 max-w-screen-2xl bg-[#88b2bd] md:w-11/12">SP: w-11/12(91.66%), PC: w-11/12(91.66%) max-w-screen-2xl(1536px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h4 class="text-lg md:text-xl">Narrow</h4>
      </Inner>
      <Inner size="full">
        <div class="mx-auto w-11/12 max-w-screen-xl md:w-10/12"></div>
        <div class="flex h-20">
          <div class="grow bg-[#b08354]"></div>
          <div class="w-10/12 max-w-screen-lg bg-[#88b2bd] md:w-9/12">SP: w-10/12(83.33%), PC: w-9/12(75%) max-w-screen-lg(1024px)</div>
          <div class="grow bg-[#b08354]"></div>
        </div>
      </Inner>

      <Inner>
        <h3 class="mb-4 text-xl font-medium md:text-2xl">Content</h3>
        <h4 class="text-lg md:text-xl">default</h4>
      </Inner>
      <Inner>
        <div class="flex flex-col">
          <div class="h-20 bg-[#88b2bd]"></div>
          <div class="h-4 bg-[#b08354] md:h-6">PC: mb-6, SP: mb-4</div>
          <div class="h-20 bg-[#88b2bd]"></div>
        </div>
      </Inner>
    </Container>
  </main>
</BaseLayout>
